<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MySQLServerIP" value="127.0.0.1"></add>
    <add key="MySQLServerPort" value="3306"></add>
    <add key="Database" value="mapcache"></add>
    <add key="UserID" value="root"></add>
    <add key="Password" value="admin"></add>

    <add key="TilePath" value="D:\\gismap"></add>
    <add key="Retry" value="3"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
