<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MySQLServerIP" value="127.0.0.1"></add>
    <add key="MySQLServerPort" value="3306"></add>
    <add key="Database" value="mapcache"></add>
    <add key="UserID" value="root"></add>
    <add key="Password" value="admin"></add>
  </appSettings>
</configuration>