<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <!---日志级别-->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd&quot;.txt&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger:%line - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--Mysql Server的IP和Port-->
    <add key="MySQLServerIP" value="127.0.0.1"></add>
    <add key="MySQLServerPort" value="3306"></add>
    <!--Mysql Server的数据库名、用户名、密码-->
    <add key="Database" value="mapcache"></add>
    <add key="UserID" value="root"></add>
    <add key="Password" value="admin"></add>
    <!--地图中心点坐标：-->
    <!--南京：118.773,32.043-->
    <add key="MapCenter" value="118.773,32.043"></add>
    <!--本地存储切片的路径-->
    <add key="TilePath" value="D:\\GisMap"></add>
    <!--下载失败时重试的最大次数，网络状态不好时候可修改为一个大的整数值，比如10-->
    <add key="Retry" value="3"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
