<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GMapProvidersExt.BMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GMapProvidersExt.BMap>
            <setting name="ServiceAK" serializeAs="String">
                <value>TMzlZXetCzK9t9fSdKO7v35T</value>
            </setting>
            <setting name="ServiceSK" serializeAs="String">
                <value />
            </setting>
            <setting name="VerificationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadMapMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapCachePath" serializeAs="String">
                <value>E:\</value>
            </setting>
        </GMapProvidersExt.BMap>
    </userSettings>
</configuration>